
.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact {
    
    padding: 25px;
    margin: 100px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h2 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.form-control {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;
    
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%;
    padding: 10px;
}


#submit, #reset{
    cursor: pointer;
    width: 40%;
    border: none;
    background: #79A7A8;
    color: #FFF;
    padding: 10px;
    margin: 4%;
    
}

#contact button[type="submit"]:hover {
    background: #355C7D;
    transition: background-color 0.9s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}