.sayfa-ici figcaption {
    text-align: center;
}
.sayfa-ici figcaption a{
    text-decoration: none;
}
.parca-p{
    margin: 0px 2rem;
}
.sayfa-ici p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 450;
    background-color: #c2d1dd;
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

.parca {
    width: clamp(300px, 70%, 1440px);
    margin: auto;
    margin-top: 1rem;
    background-color: #7c7c7c;
    color: #fcfcfc;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(31, 31, 31);
}