* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #fcfcfc;
    font-family: sans-serif;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: auto;
    padding-top: 10px;
    color: #fff;
}
.footer-content {

    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.socials {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li {
    margin: 1%;
}
.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i {
    font-size: 1.2rem;
    width: 20px;
    transition: ease;
}
.socials a:hover i {
    color: aqua;
}
.footer-bottom {
    background: #000;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 40px;

    text-align: center;
}
.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}
.sayfa-ici {

    margin-top: 15rem;
    margin-bottom: 11rem;
    width: 100%;
    display: grid; 
    place-content: center;
}
input {
    color: #000000;
    border: 20;
    text-align: center;
    padding: 5px;
    width: 100%;
    display: block;
}

form {
    width: 300px;
}